# General
.DS_Store
.vscode/

# Android Studio / IntelliJ
*.iml
.idea/
local.properties
.gradle/
build/
captures/
*.apk
*.ap_

# Python
__pycache__/
*.pyc
.venv/
venv/
env/
*.env
.DS_Store
GEMINI.md

# AI Service
ai-service/pyproject.toml
ai-service/uv.lock